header.header
  .container
    .row.align-items-center.d-flex.justify-content-between
      .col-auto
        h1 Bcrypt Site
      .col-auto
        ul.nav
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/drinks") Drinks
          li.nav-item
            a.nav-link(href="/account") Account