extend layouts/page

block content
  h2= drink.name
  p.badge.badge-secondary= drink.cat
  h4 Ingredients
  if drink.ingredients
    ul
    each ingredient in drink.ingredients
      li= ingredient
  a(href="/drinks") Back to drinks
