extend layouts/page

block content
  h2 Login
  if registeredSuccessfully
    .alert.alert-success Registered successfully, please log in.
  if loggedOutSuccessfully
    .alert.alert-success Logged Out Successfully
  form(method="POST" action="/login")
    .form-group
      label(for='email') Email address
      input#email.form-control(name="email" type='email' aria-describedby='emailHelp' placeholder='Enter email')
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      label(for='password') Password
      input#password.form-control(name="password" type='password' placeholder='Enter password')
    button.btn.btn-primary(type='submit') Log In
