extend layouts/account

block account
  h2 Post New Drink

  form(method="POST" action="/drinks")
    .form-group
      label(for='name') Name
      input#name.form-control(name="name" type='text' placeholder='Enter drink name')
    .form-group
      label(for='ingredients') Ingredients
      input#ingredients.form-control(name="ingredients" type='text' placeholder='Enter drink\'s ingredients')
      small.form-text.form-muted Separate ingredients by a comma
    .form-group
      label(for="cat") Categories
      select#cat.form-control(name="cat")
        each cat in categories
          option(value=cat.id)= cat.name
    button.btn.btn-primary(type='submit') Add Drink