extend base

block base
  header.header
    .container
      .row
        .col
          h1 Bcrypt Site
  //- header
  .container
    .row
      .col
        block content
  //- footer
  footer.footer.text-center
    p No copyright, do whatever you want ;P