extend ../layout

block content
  ul.nav
    li.nav-item
      a.nav-link(href="/account/dashboard") Dashboard
    li.nav-item
      a.nav-link(href="/account/settings") Settings
    li.nav-item
      a.nav-link(href="/account/logout") Logout
  h2 My Account
  hr