extend account

append content
  h3 Dashboard
  p Hello, #{name} welcome to the dashboard

  h5 My Favorite Movies

  if !favMovies.length
    p No favorite movies yet, add one below

  if favMovies.length
    each movie in favMovies
      li= movie.title

  hr
  form.form-inline(method="POST" action="/account/add")
    .form-group.mb-2
      label.sr-only(for="title") Title
      input#title.form-control(name="title" type='text' placeholder="Enter movie title")
    button.btn.btn-primary.mb-2 Add
