extend ../base

block base
  .container
    .row
      .col
        h1 My Movies - Registration
        p Please fill out the following details to create an account
        form(method="POST" action="/account/new")
          .form-group
            label(for='email') Email
            input#email.form-control(name="email" type='text' aria-describedby='emailHelp' placeholder='Enter name')
          .form-group
            label(for='password') Password
            input#password.form-control(name="password" type='password' aria-describedby='emailHelp' placeholder='Enter name')
          button.btn.btn-primary Register