header.header
  .row
    .col
      img.header-logo(src="/images/logo.png" alt="Templating Language logo")
    .col
      ul.nav
        li.nav-item
          a.nav-link.active(href='/') Home
        li.nav-item
          a.nav-link(href="/movies") Movies
        li.nav-item
          a.nav-link(href='/about/us') About Us
        li.nav-item
          a.nav-link(href='/contact') Contact