extend ../base

block base
  .container
    .row
      .col
        h1 My Movies - Register
        form(method="POST" action="/account/register")
          .form-group
            label(for='email') Email
            input#email.form-control(name="email" type='text' aria-describedby='emailHelp' placeholder='Enter email')
          .form-group
            label(for='password') Password
            input#password.form-control(name="password" type='password' aria-describedby='passwordHelp' placeholder='Enter password')
          button.btn.btn-primary Register